node_modules/*
node_modules/.yarn-integrity
node_modules/.bin/ncp
node_modules/.bin/ncp.cmd
node_modules/edit-json-file/package.json
node_modules/find-value/package.json
node_modules/is-plain-object/package.json
node_modules/is-primitive/package.json
node_modules/isobject/package.json
node_modules/iterate-object/package.json
node_modules/ncp/package.json
node_modules/r-json/package.json
node_modules/set-value/package.json
node_modules/w-json/package.json

project-init/node_modules/*
project-init-mvc/node_modules/*
node_modules/*
yarn.lock
yarn-error.log
